@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

/* Basic styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fondamento", cursive, sans-serif;
    background: #f0f0f0;
    line-height: 1.6;
    font-size: 18px;
    min-height: 100vh;
    text-align: center;
}

.container {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

img {
    width: 100%;
}

input {
    cursor: pointer;
}
button {
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #333;
    }
}

/* Form */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form-control {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.form-control label {
    display: block;
}

.form-control input,
.form-control textarea {
    padding: 0.25rem;
    outline: none;
}

.form-control textarea {
    width: 45%;
    height: 5rem;
}

.btn-generate {
    margin-left: 2rem;
    height: 2rem;
    padding: 0.5rem 1rem;
}

.errors {
    color: red;
}

// Travel result

.travel-result {
    .travel-container {
        display: flex;
        border-radius: 12px;
        background: #fff;
    }

    .img-container {
        width: 50%;
        padding: 1rem;
    }

    .info {
        padding: 1rem;
        margin: 0.5rem;
        text-align: start;
    }
}

// Changin the text size in below 600px

@media (max-width: 600px) {
    body {
        font-size: 0.75rem;
    }
}

// Changin the text size in below 450px

@media (max-width: 450px) {
    .travel-result {
        .info {
            font-size: 0.5rem;
        }
    }
}
